* { -moz-box-sizing: border-box; box-sizing: border-box; }

html, body {
  margin: 0.25em;
  color: #fff;
  background: #333;
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  font-size: 225%;
  text-align: center;
  text-shadow:
    1px 1px 1px #ddd,
    2px 1px 1px #c9c9c9,
    2px 2px 1px #ccc;
}

a {
  color: #fff;
}

h1 a {
  color: #fff !important;
  text-decoration: none;
}

.sidebar {
  width: 50%;
  height: 100%;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 2em;
  float: right;
  overflow-y: hidden;
}

input[type="text"], textarea {
  color: #fff;
  background: #666;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 0.5em 0;
}

input[type="submit"] {
  color: #fff;
  background: #666;
  background: linear-gradient(to bottom, #444 0%, #333 50%, #000 51%, #000 100%);
  border: 1px solid #999;
  padding: 0.25em 0.5em;
}

input[type="submit"]:active {
  background: #444;
  background: linear-gradient(to bottom, #000 0%, #000 50%, #333 51%, #444 100%);
}

#info {
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  margin: 1em 0;
  text-align: center;
}

.post, .reply, .origpost {
  width: 95%;
  border: 1px solid #fff;
  padding: 0.25em 0.5em;
  margin-left: auto;
  margin-bottom: 1em;
  background: #393838;
  word-wrap: break-word;
  margin: auto auto 1em;
}

.gameboard {
  text-align: center;
  float: left;

}

.origpost { margin: auto; margin-bottom: 1em; }

.reply { margin: 1em auto; width: 93%; }

.origpost { color: #fd3; }

.post, .reply { color: #3df }

.postcontent { color: #fff; }

a[href="#post"] { position: fixed; bottom: 1em; right: 1em; text-decoration: none; }
